.chart-filter-layout {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-center;
  padding: 1px;
}

.chart-toggle-group .MuiToggleButton-root {
  border: 1px solid #ccc !important;
  border-radius: 1cqw;
  margin-bottom: 8px;
  background-color: #fff;
  color: #333;
}

.chart-toggle-group .Mui-selected {
  background-color: #e0f2f1 !important;
  border-color: #198754 !important;
  color: #198754 !important;
  
}

.filters-section {
  flex-grow: 1;
  max-width: 100%;
}

.filters-title {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #ffffff;
}
