.chart-filter-layout {
  gap: 5px;
  flex-direction: column;
  align-items: stretch;    /* Stretch to full width inside sidebar */
  padding: 1rem;
  margin: 0;
  flex: 1;                 /* Allow it to grow and fill vertical space */
  display: flex;           /* Make flex container */
  overflow-y: auto;        /* Scroll if content is taller than container */
  min-height: 0;  
}

.chart-toggle-group .MuiToggleButton-root {
  border: 1px solid #ccc !important;
  border-radius: 8px;
  margin-bottom: 8px;
  background-color: #fff;
  color: #333;
}

.chart-toggle-group .Mui-selected {
  background-color: #e0f2f1 !important;
  border-color: #198754 !important;
  color: #198754 !important;
  
}

.filters-section {
  padding: 0px;
}

.filters-title {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #000000;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}


.floating-submit-button {
  border-radius: 22px !important;
  font-weight: 600;
  font-size: 1.1rem;
  background: #10b981 !important;
  border: none !important;
  margin-top: 10px;
  margin-bottom: 2px; /* Reduce bottom margin */
}

.clear-selection-link {
  color: #000000;
  cursor: pointer;
  text-decoration: underline;
  font-size: 13px; /* Slightly smaller */
  font-style: italic;
  font-weight: 500;
  margin-bottom: 4px;
}

.custom-form-label {
  color: #000 !important;
  font-weight: 600;
  
}

.sidebar-menu.open {
  transform: translateX(0);
  margin-left: 23px;
  margin-top: 195px;
  height: 780px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding: 0 10px;
}