

.custom-form-label {
  font-weight: 600;
  font-size: 13px;
  color: #333;
  align-items: start;
}

.floating-submit-button {
  position: sticky;
  bottom: 0;
  background-color: #28a745 !important; /* Bootstrap green */
  color: white;
  font-weight: 600;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.menu-toggle {
  cursor: pointer;
  margin-bottom: 1rem;
  color: #333;
  display: flex;
}

@media (max-width: 768px) {
  .sidebar.open {
    width: 100vw;
  }
}


.menu-button {
  position: fixed;
  top: 131px;
  left: 325px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #33333379;
  border-radius: 5px;
  z-index: 2000;
  cursor: pointer;
  transition: left 0.3s ease;
  margin-top: 14px;

  /* Center icon inside */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  /* remove button outline and styling on focus */
  outline: none;
  box-shadow: none;
}


.sidebar-menu { 
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 1000px;
  background-color: #fff;
  border-right: 1px solid #ccc;  /*Menu right line*/
  padding-left: 5px;
  padding-right: 5px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1500;
}

.sidebar-menu.open {
  transform: translateX(0);
}
